
/* #region hero section */

.hero_section{
  position:relative;
  overflow:hidden;
  min-height:100vh;
}
.section_wrapper{
    width: 85%;
    margin: 0 auto;
}
.hero_content{
  padding-top: 10%;
}
.hero_section .tr_hex{
  position:absolute;
  right: -1rem;
  top: -4rem;
  opacity: 5%;
  transform: rotateZ(-10deg);
  z-index: -1;
}
.hero_section .b_hex{
  position:absolute;
  opacity: 5%;
  transform: rotateZ(-10deg);
  bottom:-5rem;
  left: 35%;
  z-index: -1;
}
.hero_section .tl_hex{
  position:absolute;
  opacity: 5%;
  transform: rotateZ(-10deg) scale(0.75);
  top:10rem;
  left: -8rem;
  z-index: -1;
}

.hero_flexbox_container{
  display:flex;
  width:100%;
  margin-top: 3rem;
  justify-content:center;
  align-items:center;
}
.hero_flex_lhs,
.hero_flex_rhs{
  flex: 1;
  margin: 0 auto;
}
.hero_lhs_content_container{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction: column;
}
.hero_flex_lhs h1{
  font-family: var(--heading-font);
  font-weight: 100;
  line-height: 5rem;
  font-size: calc(3rem + 2vw);
  margin-bottom: 1.5rem;
}
.hero_flex_lhs h1 div{
  color: var(--primary-color);
}
.hero_flex_lhs p{
  font-size: 1.5rem;
  width:90%;
  font-family: var(--content-font);
  margin-bottom: 1.5rem;
}
.hero_ctabtn:link,
.hero_ctabtn:visited{
  color: #fff;
  font-family: var(--heading-font);
  font-weight: 100;
  font-size: 1.5rem;
  padding:1rem 3rem;
  border-radius:50px;
  text-decoration: none;
  background-color: #000;
  box-shadow: 15px 15px 30px rgb(102, 0, 229,0.30);
  transition: all 0.5s ease;
}
.hero_ctabtn:hover,
.hero_ctabtn:active{
  box-shadow: 0px 0px 0px transparent;
  transform:scale(0.9);
}
.hero_illustration{
  width:75%;
  margin: 0 auto;
}
.hero_illustration img{
  width: 100%;
}
/* #endregion */

/* #region media queries */

/* #region hero section */
@media only screen and (max-width:1024px){
  .hero_flex_lhs h1{
    line-height: 4rem;
    font-size: calc(3rem + 1vw);
    margin-bottom: 1rem;
  }
  .hero_flex_lhs p{
    font-size: 1.25rem;
  }
  .hero_flexbox_container{
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 768px){
  .hero_flexbox_container{
    margin-top: 2rem;
    flex-direction: column;
  }
  .hero_ctabtn:link,
  .hero_ctabtn:visited{
    align-self: center;
    padding:0.75rem 2.5rem;
    font-size: 1.25rem;
  }
  .hero_flex_rhs{
    margin:5rem auto;
  }
  .hero_illustration{
    width:100%;
    margin: 0 auto;
  }
}
/* #endregion */

/* #endregion */